{% extends "jmiforums/header.html" %}
{% block title %}
Home Page
{% endblock %}
{% block body %}
  {% for mod in moderator %}
    <p>This is the moderator of <strong>JMI Forum</strong>.</p><br>
    <p><strong>{{ mod.username }}</strong> of university {{ mod.university }} in {{ mod.department }}</p><br>
  {% endfor %}
  <p>This site is Under construction.</p>
  {% for sub in subforum %}
    <a href="{% url 'jmiforums:subforum' sub.subforum_name %}">Go to {{sub.subforum_name}}</a><br/>
  {% endfor %}

  <a href="{% url 'jmiforums:create' %}"><h2>Add a subforum</h2></a>

  <a href="{% url 'jmiforums:logout' %}">Logout</a>

{% endblock %}
