{% extends "jmiforums/header.html" %}
{% block title %}
Log in
{% endblock %}
{% block body %}
  <h1>Login</h1>
  {% if message %}
    <div>
        {{ message }}
    </div>
  {% endif %}  
    <form action="{% url 'jmiforums:login' %}" method="post">
        {% csrf_token %}
        <input name="username" type="text" />
        <input name="password" type="password" />
        <input type="submit" value="Login" />
    </form>
    <div class="border-top pt-3"> 
        <small class="text-muted">
            Make new account
            <a class="ml-2" href="{% url 'jmiforums:register' %}">Sign Up</a>
        </small>
    </div>
{% endblock %}