{% extends "jmiforums/header.html" %}

{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}


{% block title %}
Subforum/{{ subforum_name }}
{% endblock %}
{% block body %}

    <h3>Subforum  : {{ subforum_name }}</h1>
<br>

    <h1>Question:</h1>
    <div class="container">
        <p><h2>{{ ques.ques_text }}</h2></p>
        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/">Facebook</a>
          
        <p>Upvotes: {{ ques.upvote.count }}</p>
        <small class="text-muted">
            <ul>
                {% for c in com %}
                    <li>{{ c.comment_text }}</li>
                {% empty %}
                    <li>No comments.</li>    
                {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                {{ form2|crispy }}
                <button type="submit">Submit</button>
            </form>
        </small>    
        <ul>
            {% for a in ans %}
                <li class="content-markdown">
                    {{ a.ans_text }}
                </li>
            {% empty %}
                <li>No answers.</li>    
            {% endfor %}
        </ul>

    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>

<br>
    <a href="{% url 'jmiforums:homepage' %}">Go back</a><br>
    <a href="{% url 'jmiforums:ques_update' subforum_name ques.id %}">Update Question</a><br>
    <a href="{% url 'jmiforums:ques_delete' subforum_name ques.id %}">Delete Question</a>
{% endblock %}
